Repository Juansecu/DevTalles-Community-Blog, pull requests merged in 2025-09, with the labels that each got.

#9 DOCS - Add Cloudflare Turnstile as a requirement in README.md file
  .github/workflows/deploy-infrastructure-templates.yml
  .gitignore
  README.md
  frontend/.gitignore
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/set-environment-variables.mjs
  frontend/src/environments/.gitkeep
  frontend/src/environments/environment.d.ts
  infrastructure/templates/cloudflare-templates/.terraform.lock.hcl
  infrastructure/templates/cloudflare-templates/create-turnstile-widget.tf
  infrastructure/templates/cloudflare-templates/providers.tf
  infrastructure/templates/cloudflare-templates/state.tf
  infrastructure/templates/cloudflare-templates/variables.tf
  pnpm-lock.yaml
Labels: documentation, backend

#12 DOCS - Add Cloudflare R2 as requirement for storing user avatar images and post images
  .github/workflows/deploy-infrastructure-templates.yml
  README.md
  infrastructure/templates/cloudflare-templates/create-r2-bucket.tf
  infrastructure/templates/cloudflare-templates/variables.tf
Labels: documentation, ci, frontend, backend

#13 BUILD - Merge RUN statements in a single line for optimizing Dockerfile building times
  Dockerfile
Labels: enhancement, backend

#24 FEATURE - New Models Categories, Post, Post_comments
  backend/src/app.module.ts
  backend/src/categories/categories.controller.ts
  backend/src/categories/categories.module.ts
  backend/src/categories/categories.service.ts
  backend/src/categories/dto/create-category.dto.ts
  backend/src/categories/dto/update-category.dto.ts
  backend/src/categories/entities/category.entity.ts
  backend/src/main.ts
  backend/src/post-comments/dto/create-post-comment.dto.ts
  backend/src/post-comments/dto/update-post-comment.dto.ts
  backend/src/post-comments/entities/post-comment.entity.ts
  backend/src/post-comments/post-comments.controller.ts
  backend/src/post-comments/post-comments.module.ts
  backend/src/post-comments/post-comments.service.ts
  backend/src/posts/dto/create-post.dto.ts
  backend/src/posts/dto/update-post.dto.ts
  backend/src/posts/entities/post.entity.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.module.ts
  backend/src/posts/posts.service.ts
  backend/src/posts/services/posts.service.ts
  backend/src/users/entities/user.entity.ts
Labels: feature, backend

#26 FEATURE - New Models Categories, Post, Post_comments
  backend/src/app.module.ts
  backend/src/categories/categories.controller.ts
  backend/src/categories/categories.module.ts
  backend/src/categories/categories.service.ts
  backend/src/categories/dto/create-category.dto.ts
  backend/src/categories/dto/update-category.dto.ts
  backend/src/categories/entities/category.entity.ts
  backend/src/main.ts
  backend/src/post-comments/dto/create-post-comment.dto.ts
  backend/src/post-comments/dto/update-post-comment.dto.ts
  backend/src/post-comments/entities/post-comment.entity.ts
  backend/src/post-comments/post-comments.controller.ts
  backend/src/post-comments/post-comments.module.ts
  backend/src/post-comments/post-comments.service.ts
  backend/src/posts/dto/create-post.dto.ts
  backend/src/posts/dto/update-post.dto.ts
  backend/src/posts/entities/post.entity.ts
  backend/src/posts/posts.controller.ts
  backend/src/posts/posts.module.ts
  backend/src/posts/posts.service.ts
  backend/src/posts/services/posts.service.ts
  backend/src/users/entities/user.entity.ts
Labels: feature, backend

#30 FEATURE - Authorization system
  backend/nest-cli.json
  backend/src/app.module.ts
  backend/src/auth/entities/role.entity.ts
  backend/src/auth/migrations/1758494002568-create-permissions-table.migration.ts
  backend/src/auth/migrations/1758494324365-create-roles-table.migration.ts
  backend/src/auth/migrations/1758494707584-create-user-roles-table.migration.ts
  backend/src/auth/migrations/1758495279566-create-role-permissions-table.migration.ts
  backend/src/auth/migrations/1758495565022-create-user-permissions-table.migration.ts
  backend/src/auth/migrations/1758495905823-insert-permissions.migration.ts
  backend/src/auth/migrations/1758503057222-insert-roles.migration.ts
  backend/src/auth/migrations/1758503765082-insert-role-permissions.migration.ts
Labels: feature, frontend

#29 Feature - Like funcionality
  frontend/angular.json
  frontend/src/app/components/posts/posts.component.html
  frontend/src/app/components/posts/posts.component.scss
  frontend/src/app/components/posts/posts.component.ts
  frontend/src/app/interfaces/posts.interface.ts
  frontend/src/app/pages/post/post.html
  frontend/src/app/pages/post/post.scss
  frontend/src/app/pages/post/post.ts
  frontend/src/app/services/posts.service.ts
Labels: feature, frontend

#32 FIX - Verification of user roles and permissions through AuthGuard
  backend/src/auth/auth.module.ts
  backend/src/auth/decorators/access.decorator.ts
  backend/src/auth/dto/create-auth.dto.ts
  backend/src/auth/guards/access.guard.ts
  backend/src/auth/typings/request-with-user.d.ts
  backend/src/main.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/services/users.service.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  frontend/src/app/components/posts/posts.component.ts
  frontend/src/app/pages/post/post.ts
  frontend/src/app/services/posts.service.ts
Labels: feature, backend

#33 FIX - Verification of user roles and permissions through AuthGuard
  backend/src/auth/auth.module.ts
  backend/src/auth/decorators/access.decorator.ts
  backend/src/auth/dto/create-auth.dto.ts
  backend/src/auth/guards/access.guard.ts
  backend/src/auth/typings/request-with-user.d.ts
  backend/src/main.ts
  backend/src/users/entities/user.entity.ts
  backend/src/users/services/users.service.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.module.ts
  frontend/src/app/components/posts/posts.component.ts
  frontend/src/app/pages/post/post.ts
  frontend/src/app/services/posts.service.ts
Labels: fix, backend
